;; Keep in-sync with deps.edn
{:paths ["site" "src" "scripts"]
 :deps {hiccup/hiccup {:mvn/version "2.0.0-RC3"}}
 :tasks
 {build
  (do
   (shell "bb scripts/build.bb"))
  build-example
  (do
    (shell "bb scripts/build.bb --example"))}}
